@model myFirstApp.Models.Table

@Html.AntiForgeryToken()


    <div>
        @ViewBag.napis
        <p> Proste operacje na tekście przy użyciu JScript i CSS</p>

        <div id="etykiety">
            <label>Imię:</label>        <br>
            <label>Nazwisko:</label>    <br>
            <label>Miasto:</label>
        </div>
        <div id="pola">
            <input type="text" id="textimie" placeholder="Podaj imię" /> 
            <!--
            @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "form-control" } })
            -->
            <br>
            <input type="text" id="textnazwisko" placeholder="Podaj nazwisko" />
            <!--
            @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "form-control" } })
            -->
            <br>
            <input type="text" id="textmiasto" placeholder="Podaj miasto" />
            <!--
            @Html.EditorFor(model => model.Miasto, new { htmlAttributes = new { @class = "form-control" } })
            -->
        </div>

        <div id="przyciski">
  
            <button type="button" value="przycisk_odczyt" onclick="location.href='@Url.Action("Odczytaj","Home")'" >Odczytaj z bazy</button>
            <!-- poki co zapisywanie nie dziala, wiec trzeba skorzystac z metody edit-->
            <button type="button" value="przycisk_zapis"  onclick="location.href='@Url.Action("Edit","Home")'"   >Zapisz do bazy</button> 
         </div>

        <div id="dane">
            <label>Podane imię:</label>
            <label id="imie"></label>
            <br>

            <label>Podane nazwisko:</label>
            <label id="nazwisko"></label>
            <br>

            <label>Podane miasto:</label>
            <label id="miasto"></label>
        </div>

        <div>
            <input type="button" id="zmniejszFont" value="Czcionka Small" />
            <input type="button" id="zwiekszFont" value="Czcionka Large" />
            <input type="color" id="kolorFont" />
        </div>

    </div>
